
aishwarya.vasu@quantumhunts.com
SHAILJA PANDEY10:03
yes 
chinmay Songirkar10:03
yes mam 
Debasish Biswal10:03
Yes
SHAILJA PANDEY10:03
Good morning ma'am
chinmay Songirkar10:06
sorry mam I can't switch on my camera 
👍
Debasish Biswal10:06
👍
SHAILJA PANDEY10:09
explaining our skills
Pratik Roy10:09
introducing myself in the form of a video instead of text
Rahul Tagra10:09
Showing up urself with a video and explaining the Main Parts of the resume
Debasish Biswal10:09
Form of tell me about self 
Short introduction about yourself
LAKSHMI NARAYANAN D E021906410:10
A video resume is a short video created by a candidate for employment and uploaded to the internet  for prospective employers to review
Yugandhar Naidu10:10
It's just like introducing ourselves
SHAILJA PANDEY10:10
yes
Pratik Roy10:10
yes
Chandrika Gedala10:10
It's a short video to introduce ourselves
Umayma Dalvi10:14
https://quantumhunts.com/internship/tech-coding-heist-2021
SHAILJA PANDEY10:15
yes
Debasish Biswal10:17
Plz re explain
Mam
Mam network issue so cant hear anything
chinmay Songirkar10:17
create a webpage using HTML / JS / CSS right ?
Debasish Biswal10:18
Ok
chinmay Songirkar10:18
ok 
Gamer 2.010:18
We have to do all 5 tasks?
Siddharth
chinmay Songirkar10:18
you simple UI 
Gamer 2.010:19
Sorry mam first time I'm joining
SHAILJA PANDEY10:19
ok mam
Rahul Tagra10:19
Okay mam Thankyou
akanksha maurya10:19
Ok mam
Gamer 2.010:19
K mam
akanksha maurya10:19
Thanks
Mohd Jamil10:19
How to submit?
SHAILJA PANDEY10:20
no mam
Rahul Tagra10:20
no mam
19_517 DODIYAM PAVAN KUMAR10:20
maam can you please reexplain the task maam
Umayma Dalvi10:20
https://quantumhunts.com/internship/tech-coding-heist-2021
SHAILJA PANDEY10:20
yes ma'am clear
Umayma Dalvi10:21
aishwarya.vasu@quantumhunts.com
Shubhra Langal10:21
shubhralangal5618@gmail.com
Umayma Dalvi10:21
umayma.dalvi@quantumhunts.com
aparna@quantumhunts.com
SHAILJA PANDEY10:22
yes
ok ma'am
Gamer 2.010:22
K mam
Pratik Roy10:23
how will i put my project link in heroku for testing?
Debasish Biswal10:23
Know something about the company
LAKSHMI NARAYANAN D E021906410:24
we want to performance well
Debasish Biswal10:24
What are the challenges and opperrunity
SHAILJA PANDEY10:24
only one task we have to complete?
ok mam
Gamer 2.010:25
Which type of technology is using by company
SHAILJA PANDEY10:26
yes
Debasish Biswal10:26
Yup
Rahul Tagra10:27
mam how to use heroku to run the code?
Mohd Jamil10:27
Any tech stack is good for the tasks ?
Rahul Tagra10:27
all the tasks contain running the code with heroku
Vaishali Aryam10:27
Hello everyone!!
Anybody having confusion in submitting their task.. 
You can check out the guidelines part mentioned in the link.
SHAILJA PANDEY10:28
ok mam
chinmay Songirkar10:28
only one task completed required ? 
ok 
SHAILJA PANDEY10:28
ok mam
Rahul Tagra10:29
okay mam
SHAILJA PANDEY10:29
yes
Yugandhar Naidu10:29
Such a nice interaction with you shubhra mam
manan agrawal10:29
sure
Mohd Jamil10:29
Any tech stack is good for the tasks ?
Yugandhar Naidu10:29
I will submit the task of your desired time
manan agrawal10:29
Can you please tell about the duration and stipend of the internship
sakshi gupta10:30
Good morning Mam 
Can you please share this ppt with us? Actually I have joined late.
Yugandhar Naidu10:30
Is there any joining fees in internship??
Like security payment?
Training fee etc...
Debasish Biswal10:31
How much round are to selected
manan agrawal10:31
can you tell about the number of openings for the internship
akanksha maurya10:31
Mam number of opening please?
Pratik Roy10:31
will the interns be selected on this task's performance basis?
Vishwnath Telang10:31
mam could you plz send task link again
Vaishali Aryam10:31
Hi yugandhar
No , there is no fees
manan agrawal10:31
I mean the number of students you are looking to shortlist
Vaishali Aryam10:32
https://quantumhunts.com/internship/tech-coding-heist-2021
19_517 DODIYAM PAVAN KUMAR10:32
how should we submit the task
Vaishali Aryam10:32
Please checkout the link carefully.
Yugandhar Naidu10:32
Is there any joining fee for this internship??
Shubhra Langal10:33
https://quantumhunts.com/internship/tech-coding-heist-2021
Yugandhar Naidu10:33
Thanks for the confirmation
Sahil10:33
Can you please tell about the duration and stipend of the internship
Debasish Biswal10:33
Final round means PI
manan agrawal10:33
can the internship be extended to 6 months , I I were to onboard?
In case we want to
Yugandhar Naidu10:33
How can you conduct the interview??
manan agrawal10:33
ok
Vaishali Aryam10:34
The task submission part is mentioned in the guidelines.
Umayma Dalvi10:34
aparna@quantumhunts.com
aishwarya.vasu@quantumhunts.com
umayma.dalvi@quantumhunts.com
19_517 DODIYAM PAVAN KUMAR10:35
maam can i use firebase in place of heroku
SHAILJA PANDEY10:37
okay mam
vaibhav sharma10:37
Mam what's the location for the internship? Is it wfh?
SHAILJA PANDEY10:37
no
19_517 DODIYAM PAVAN KUMAR10:37
okay maam thank you
SHAILJA PANDEY10:38
no mam
Rahul Tagra10:38
can we build a brand website that consists more than 1 page?
Anit Gahlot10:38
what's the deadline for the tasks
ok thank u
SHAILJA PANDEY10:39
can we use framewok like angular
manan agrawal10:39
Can you atleast tell the minimum stipend for the intern
Vishwnath Telang10:39
 mam how many page build more than one ? or one?
Rahul Tagra10:39
mam can we build more than 1 webpages for that brand or celebrity
SHAILJA PANDEY10:39
can we use framewok like angular
manan agrawal10:39
Alright
chinmay Songirkar10:39
Create only forntend ?
SHAILJA PANDEY10:39
ok mam
Rahul Tagra10:39
ok mam
chinmay Songirkar10:39
Ok
Menaka S10:40
ok mam thank you mam
Rahul Tagra10:40
yes mam it has to be frontend only
okay mam
manan agrawal10:40
ok
Gamer 2.010:40
K mam
SHAILJA PANDEY10:40
thank you for guiding us
okay mam
no
Gamer 2.010:41
No mam
Pratik Roy10:41
no mam thank you :)
vaibhav sharma10:41
no mam
Yugandhar Naidu10:41
I've forgotten my password and i'm trying to reset it ....but it won't happening
SHAILJA PANDEY10:42
yes mam thank you 
Yugandhar Naidu10:42
Click here button not working
dzf-ewvc-mfz



*{
    margin: 0;
    padding: 0;	
}

body{
    background-color:whitesmoke;
} 

h2,h5 {
    color:royalblue;
    text-align: left;
    color: azure;
}

nav {
    display: flex;
    width: 100%;
    background-color: rgb(48, 7, 145);
    margin: 0;
    padding: 0;
}  

#heading {
    width: 50%;
    text-align: center;
    color: chocolate;

}

#subheading {
    width: 15%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 10px;
    height: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#side1 {
    width: 15%;
    height: 100%;
    background-color: rgb(156, 150, 150);
}

#center {
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
}

#side2 {
    width: 15%;
    height: 100%; 
    background-color: rgb(156, 150, 150);
}

